<h3>Use a Caesar Cipher</h3>

<hr>

<div>
  <label>Original Message:</label><br/>
  <input id="message" type="textarea" value="replace this text with the message you want to encrypt. use the shifters to encrypt it.">
  </input>
</div>

<hr>

<div>
  <label>Encrypted Message:</label><br/>
  <div id="encrypted_message"></div>
</div>

<hr>

<a id="left_button" class="btn btn-info btn-small"><i class="icon-white icon-arrow-left"></i> Left</a> 
<a id="right_button" class="btn btn-info btn-small">Right <i class="icon-white icon-arrow-right"></i></a>
<span id="shift_label"><strong>Encryption Shift: </strong><span id="shift">0</span>

<script src="/assets/js/caesar_cipher/new.js"></script>
