<h3>Solve a Caesar Cipher</h3>

<hr>

<div>
  <label>Encrypted Message:</label><br/>
  <input id="message" type="textarea" value="qdokzbd sghr sdws vhsg sgd dmbqxosdc ldrrzfd. xnt bzm fds zm hcdz ne sgd chrsqhatshnm ne sgd bgzqzbsdqr aktd, bnlozqdc sn sxohbzk dmfkhrg hm akzbj.">
  </input>
</div>

<hr>

<div>
  <label>Decrypted Message:</label><br/>
  <div id="decrypted_message"></div>
</div>

<hr>

<a id="left_button" class="btn btn-info btn-small"><i class="icon-white icon-arrow-left"></i> Left</a> 
<a id="right_button" class="btn btn-info btn-small">Right <i class="icon-white icon-arrow-right"></i></a>
<span id="shift_label"><strong>Encryption Shift: </strong><span id="shift">25</span>
<div id="barchart"></div><br/>

<div>
  <span id="num_inputs"></span>
  <span id="correlation"></span>
  <span id="message_mean"></span>
  <span id="language_mean"></span>
  <span id="message_std"></span>
  <span id="language_std"></span>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/assets/js/caesar_cipher/solve.js"></script>
